<%@ page language="java" pageEncoding="UTF-8"%>
<%@ include file="/includes/taglibs.jsp"%>
<%@ include file="/includes/links.jsp"%>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>${title}</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
</head>
<body>
	<div class="easyui-layout" fit="true">
		<div data-options="region:'north'" border="false" style="margin-bottom: 5px;">
			<form id="${classname}ListForm" class="easyui-form" style="margin: 0px 0px 0px 0px;">
				<table cellpadding="5" cellspacing="0" class="a_search_table" width="100%" border="0" >
					<tr>
					  	#foreach ($column in $columns)
					  		#if(${velocityCount}<=2)<th class="br" width="90px;">
									#if($column.comments)${column.comments}#end: 
								</th>
								<td class="br" width="180px;">
									<input class="easyui-textbox" style="width:170px" id="${column.attrname}${className}List"></input>
								</td>
					  		#end
					  	#end
						<td class="br">
							<a style="margin-left: 30px;" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search32',size:'large',iconAlign:'left'" onclick="query${className}List()">查询</a>&nbsp;&nbsp;
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div region="center" border="false">
			<div id="${classname}ListTb" style="padding:2px 5px;">
				<gwideal:perm url="/${classname}/add">
					<a href="javascript:void(0)"  class="easyui-linkbutton" data-options="iconCls:'icon-add32',size:'large',iconAlign:'left'" onclick="add${className}()" >新增</a>&nbsp;
				</gwideal:perm>
				<gwideal:perm url="/${classname}/edit/{id}">
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit32',size:'large',iconAlign:'left'" onclick="edit${className}()">修改</a>&nbsp;
				</gwideal:perm>
				<gwideal:perm url="/${classname}/delete/{id}">
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cut32',size:'large',iconAlign:'left'" onclick="delete${className}()">删除</a>&nbsp;
				</gwideal:perm>
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-view32',size:'large',iconAlign:'left'" onclick="view${className}()">查看</a>
			</div>
			<table id="${classname}ListDg" class="easyui-datagrid"
					data-options="collapsible:true,rownumbers:true,url:'${base}/${classname}/jsonPagination',
					method:'post',fit:true,pagination:true,toolbar:'#${classname}ListTb',singleSelect: true,
					selectOnCheck:true,checkOnSelect: true">
				<thead>
					<tr>
						<th data-options="field:'ck',checkbox:true"></th>
						<th data-options="field:'id',hidden:true"></th>
						#foreach ($column in $columns)
						#if(${velocityCount}==1)
						<th data-options="field:'${column.attrname}',align:'left',resizable:true,sortable:true" width="15%">${column.comments}</th>
						#else
						<th data-options="field:'${column.attrname}',align:'center',resizable:false,sortable:false" width="10%">${column.comments}</th>
						#end
						#end
					</tr>
				</thead>
			</table>
		</div>
	</div>
	
	<script type="text/javascript">
		function query${className}List(){
			 $('#${classname}ListDg').datagrid('load',{
			 	#foreach ($column in $columns)
			 	#if(${velocityCount}<=2)
				#if(${velocityCount}==1)
				${column.attrname}:$('#${column.attrname}${className}List').textbox('getValue'),
				#else
				${column.attrname}:$('#${column.attrname}${className}List').textbox('getValue')
				#end
				#end
				#end
			}); 
		} 

		function add${className}(){
		    var win=creatWin('新增-${comments}',650,345,'icon-add','/${classname}/add');
		    win.window('open');
		}
		
		function edit${className}(){
			var row = $('#${classname}ListDg').datagrid('getSelected');
			var selections = $('#${classname}ListDg').datagrid('getSelections');
			if(row!=null && selections.length==1){
			    var win=creatWin('修改-${comments}',650,345,'icon-edit','/${classname}/edit/'+row.id);
			    win.window('open');
			}else{
				 $.messager.alert('系统提示','请选择一条要修改的数据！','info');
			}
		}

		function view${className}(){
			var row = $('#${classname}ListDg').datagrid('getSelected');
			var selections = $('#${classname}ListDg').datagrid('getSelections');
			if(row!=null && selections.length==1){
			    var win=creatWin('查看-${comments}',600,245,'icon-search','/${classname}/view/'+row.id);
			    win.window('open');
			}else{
				 $.messager.alert('系统提示','请选择一条要查看的数据！','info');
			}
		}
		
		function delete${className}(){
			var row = $('#${classname}ListDg').datagrid('getSelected');
			var selections = $('#${classname}ListDg').datagrid('getSelections');
			if(row!=null && selections.length==1){
				$.messager.confirm('系统提示','确认删除吗?',function(id){ 
					if(id){ 
						$.ajax({ 
							type: 'POST', 
							url: base+'/${classname}/delete/'+row.id,
							dataType: 'json',  
							success: function(data){
								if(data.success){
									$.messager.alert('系统提示', data.info, 'info');
									$("#${classname}ListDg").datagrid('reload'); 
								}else{ 
									$.messager.alert('系统提示', data.info, 'info');
								} 
							} 
						}); 
					} 
				}); 		
			}else{
				$.messager.alert('系统提示','请选择一条要删除的数据！','info');
			}
		}

	</script>
</body>
</html>

